<div class="container">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Destination Vol en tapant</label>
        <input #destination [(ngModel)]="searchTerm" name="searchTerm" class="form-control" >
        </div>
        </form>

</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <table class="table table-striped">
            <tr>
                <th>Agence</th>
                <th>Id</th>
                <th>Heure depart</th>
                <th>Destination</th>
                <th>etat</th>
                <th>Aeroport</th>
            </tr>
            <tbody *ngFor="let vol of vols | filter:searchTerm ">
                <tr>
                    <td>{{vol.agence}}</td>
                    <td>{{vol.numVol}}</td>
                    <td>{{vol.heureDepart | date:'shortTime' }} </td>
                    <td>{{vol.destination}}</td>
                    <td>
                        <div *ngIf="vol.etat=='atteri'"><a class="btn btn-success">{{vol.etat}} </a></div>
                        <div *ngIf="vol.etat=='annule'"><a class="btn btn-danger">{{vol.etat}} </a></div>
                        <div *ngIf="vol.etat=='a la porte dembarquement'"><a class="btn btn-warning">{{vol.etat}} </a>
                        </div>
                    </td>
                    <td>{{vol.aeroport.nomAir}}</td>

                </tr>
            </tbody>

        </table>
    </div>
</div>