<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <app-update-categorie [aeroport]="updatedAir"
    (aeroportUpdated)= "aeroportUpdated($event)"
    [ajout]="ajout"
    ></app-update-categorie>
    </div>
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <thead>
    <tr> <th>Id</th><th>Nom Aeroport</th> <th>Adresse Aeroport</th></tr>
    </thead>
    <tbody *ngFor="let air of aeroports">
    <tr>
    <td>{{air.idAir}}</td>
    <td>{{air.nomAir}}</td>
    <td>{{air.adresseAir}}</td>
    <td><a class="btn btn-success" (click)="updateAir(air)">Editer</a></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
